.grid{
    display: flex;
    flex-direction: column;
    gap: $square-gap;
    &__row{
        display: flex;
        gap: $square-gap;
        width: 100%;
        &__label{
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background;
            color: $empty;
            border-bottom: 1px solid $empty;
        }
        &__square{
            border: 1px solid $border;
            background-color: $empty;
            aspect-ratio: 1;
            width: 100%;
            &.--filled{
             background-color: $filled;   
            }
            &.--current{
                border: 1px solid $progress;
            } 
        }
    }

}