.header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px 30px;
    background-color: $empty;
    border-radius: 12px;

    &__element{
        display: flex;
        align-items: center;
        gap: 20px;
        span{
            white-space: pre;
        }
    }
    &__left{
        display: flex;
        gap: 40px;
    }
    
}
.clear-section{
    &__modal{
        background-color: $background;
        & &__ok{
            background-color: $filled;
            color: $empty;
            &:hover{
                background-color: $empty;
                color: $filled;
            }
        }
        & &__cancel{
            background-color: $empty;
            color: $filled;
        }
    }
}