@import './variables';

.grid{
    display: flex;
    flex-direction: column;
    gap: $square-gap;
    &__row{
        display: flex;
        gap: $square-gap;
        &__label{
            width: 50px;
        }
        &__square{
            border: 1px solid $square-filled;
            background-color: $square-empty;
            width: 70px;
            aspect-ratio: 1;
            &.--filled{
             background-color: $square-filled;   
            }
/*             &.--current{
                border-left: 3px solid rgb(255, 255, 0);
                border-right: 3px solid rgb(255, 255, 0);
            } */
        }
    }

}