@import './variables';
@import './bpmInput.scss';
@import './grid.scss';
@import './header.scss';
@import './misc.scss';
@import './theme-switcher.scss';

body {
  background-color: $background;
}
ul {
  list-style: none;
  padding: 0;
}
#root {
  height: 100vh;
}
* {
  box-sizing: border-box;
}
