button{
    &:has(svg){
        font-size: 35px;
    }
    cursor: pointer;
    &[class*="-btn"]{
        min-width: 50px;
        padding: 10px 20px;
        background-color: $empty;
        border: none;
        border-radius: 4px;
        color: $filled;
        font-weight: 600;
        text-transform: uppercase;
        &:active{
            background-color: $filled;
            color: $empty;
        }
        &[class*="main"]{
            background-color: $empty;
            color: $filled;
            &:active{
                background-color: $filled;
                color: $empty;
            }
        }
        &[class*="variant"]{
            background-color: $filled;
            color: $empty;
            &:active{
                background-color: $empty;
                color: $filled;
            }
        }
    }
}
svg{
    height: 35px;
    color: $filled;
    fill: $filled;
}
