button{
    cursor: pointer;
    &.main-btn{
        padding: 5px;
        background-color: $empty;
        border: none;
        border-radius: 4px;
        color: $filled;
        font-weight: 600;
        text-transform: uppercase;
        &:active{
            background-color: $filled;
            color: $empty;
        }
        &:has(svg){
            font-size: 35px;
        }
    }
}
svg{
    height: 35px;
    color: $filled;
    fill: $filled;
}